## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

list1=range(0,100)
sample_list_1=random.sample(list1,80)
print(sample_list_1)

[3, 76, 77, 28, 36, 19, 1, 40, 48, 10, 30, 54, 93, 26, 90, 79, 12, 50, 5, 65, 43, 80, 51, 27, 11, 87, 61, 64, 17, 42, 47, 83, 46, 98, 97, 21, 74, 72, 67, 29, 0, 34, 86, 13, 66, 20, 96, 32, 38, 58, 52, 85, 6, 94, 62, 9, 7, 57, 16, 44, 39, 91, 8, 99, 23, 15, 24, 35, 2, 53, 88, 68, 71, 41, 73, 84, 33, 75, 60, 18]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

# yes, the value is 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[]
list2=range(0,100)
for s in range(0,80):
    sample_list_2.append(random.choice(list2))
print(sample_list_2)

[56, 40, 65, 44, 50, 69, 89, 73, 42, 60, 67, 1, 45, 40, 86, 15, 20, 76, 57, 44, 75, 51, 10, 81, 88, 83, 0, 98, 52, 14, 18, 40, 65, 14, 67, 3, 73, 74, 19, 17, 78, 1, 65, 48, 72, 88, 47, 10, 97, 45, 87, 21, 81, 51, 54, 53, 67, 37, 50, 49, 90, 25, 38, 77, 18, 99, 31, 17, 6, 40, 70, 31, 48, 24, 61, 34, 14, 10, 57, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2= set(sample_list_2)
print(len(set2))

# the length is now different than 51

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=[]
set3=set1.difference(set2)
print(set3)

{2, 5, 7, 8, 9, 11, 12, 13, 16, 23, 26, 27, 28, 29, 30, 32, 33, 35, 36, 39, 41, 43, 46, 58, 62, 64, 66, 68, 71, 79, 80, 84, 85, 91, 93, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2.difference(set1)
print(set4)

{89, 37, 69, 70, 45, 14, 78, 49, 81, 56, 25, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set2.intersection(set1)
print(set5)

{0, 1, 3, 6, 10, 15, 17, 18, 19, 20, 21, 24, 34, 38, 40, 42, 44, 47, 48, 50, 51, 52, 53, 54, 57, 60, 61, 65, 67, 72, 73, 74, 75, 76, 77, 83, 86, 87, 88, 90, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print("Length set 1: ",len(set1))
print("Length set 2: ",len(set2))
print("Length set 3: ",len(set3))
print("Length set 4: ",len(set4)) 
print("Length set 5: ",len(set5))

# according to our results:

# set1 and set2 are two different lists
# set3 represents all the elements in set1 not present in set2
# set 4 represents all the elements in set2 not present in set1
# set 5 representes all the elements common to set1 and set2

print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set4)+len(set5))

Length set 1:  80
Length set 2:  55
Length set 3:  37
Length set 4:  12
Length set 5:  43
True
True

#### Create an empty set called `set6`.

In [13]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
setfinal=set3.union(set4)
setf=setfinal.union(set5)
sett=set1.union(set2)

setf==sett

# they are equal

True

#### Using the `pop` method, remove the first element from `set1`.

In [40]:
# Your code here
print(set1)
list1=list(set1)
out=list1.pop(0)
print(out)

print(set(list1))
set1=set(list1)

{2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 57, 58, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 77, 79, 80, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 96, 97, 98, 99}
2
{3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 57, 58, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 77, 79, 80, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [42]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

finalset=set1.difference(list_to_remove)  
print(finalset)

{3, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 57, 58, 60, 62, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 77, 80, 83, 84, 85, 86, 87, 88, 90, 93, 94, 96, 97, 98}